body {
  background-image: url("https://www.wallpaperuse.com/wallp/28-282250_m.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

.jumbotron {
  background: rgba(204, 204, 204, 0.91);
  margin-top: 2%;
}

.row{
  margin-bottom: 10%;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}